<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Login</title>
    <!-- Google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/58f071ccd1.js" crossorigin="anonymous"></script>
    <!-- Stylesheet link -->
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="container">

        <div class="left-container">
            <div class="form-container">
                <form action="" method="post">
                    <h1>LOGIN</h1>
                    <input type="text" name="email" placeholder="Email"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="submit" name="" value="LOGIN">
                </form>
                <div class="s-with">
                    <p>Signin with</p>
                    <div class="icon-container">
                        <ul>
                            <li><i class="fa-brands fa-google fa-lg"></i></li>
                            <li><i class="fa-brands fa-facebook fa-lg"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="right-container">
            <img src="static/img/login-bg.png" alt="">
            <h1>Blog Website</h1>
            <h2>Ignite Minds, Unleash Potential.</h2>
        </div>

        

    </div>
</body>
</html>
